#bb-header-logo {
    color: $white;
    text-decoration: none;
}

#bb-main-menu {
    .nav-link {
        color: $body-color;
        font-size: 0.875rem;
    }
}

#bb-header-socials-menu {
    .nav-link {
        color: $body-color;
    }
}