// import fonts
@import "_fonts";

// import bootstrap (including variable overrides)
@import "_variables";
@import "bootstrap";

// import other third-party dependencies
$fa-font-path: 'fontawesome/webfonts';
@import "fontawesome/scss/brands";
@import "fontawesome/scss/regular";
@import "fontawesome/scss/solid";
@import "fontawesome/scss/fontawesome";

// import custom styles
@import "_layout";
@import "_header";
@import "_forms";

article > details {
    > summary:after {
        content: attr(data-closed);
    }

    &[open] {
        > summary:after {
            content: attr(data-open);
        }
    }
}

body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    transition: all 0.5s ease;
    z-index: 1;
}

iframe.spotify * {
    background-color: transparent;
}